* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

div:hover {
    /* transform: translate(50%,50%); */
    /* transform: rotate(180deg); */
    /* transform: scale(1.5); */
    /* transform: skewX(50deg); */
    transform: matrix(3, -0.3, 0, 1, 0, 50);
}